<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>

  <ion-list lines="full">
    <ion-item>
        <ion-input required type="text" placeholder="Username" [(ngModel)]="parents.username"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="login()">Login</ion-button>

  
  
  <ion-button expand="block" color="secondary" routerLink="/register" routerDirection="forward">Register</ion-button>
</ion-content>