<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item><ion-input required type="text" placeholder="Username" [(ngModel)]="parentslist.username"></ion-input></ion-item>
    <ion-item><ion-input required type="password" placeholder="Password" [(ngModel)]="parentslist.password"></ion-input></ion-item>
    <ion-item><ion-input required type="email" placeholder="Email" [(ngModel)]="parentslist.email"></ion-input></ion-item>
  </ion-list>
  <ion-button expand="full" (click)="registerParents()">Register</ion-button>
</ion-content>